@import "../../variable.css";

.checkout__payment{
    background-color: var( --c-n-grayBlue);
}
.cart__expand-list{
    
    
}

.checkout__body{
    
}

.checkout__cart-items{
    
}
.checkout__form{
    flex:1;
    width:100%;
}